<a href="https://colab.research.google.com/github/hamagami/preprocess/blob/main/03_04_%E6%A7%8B%E9%80%A0%E5%8C%96%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E6%93%8D%E4%BD%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 構造化データの操作
pandas の表の操作例を簡単なデータを使って試してみます
excelでできることはpandasでほぼできますし，前処理としてはそれ以上のことができます

In [1]:
import pandas as pd
#from pandas import Series, DataFrame
from pandas import DataFrame

## わかりやすいように簡単な表データを直接書き込みます（通常はファイルから読みこみます）
df1 と　df2 という　pandas.DataFrame形式の表をつくります

In [2]:
# データ1の準備
data1 = {'ID':['100','101','102','105','106']
        ,'city':['Tokyo','Chiba','Kyoto','Gunma','Tokyo']
        ,'birth_year':[1991,1992,1985,1996,1981]
        ,'name':['Yamada','Sato','Suzuki','Kitamura','Aoki']}
df1 = DataFrame(data1)

# データ2の準備
data2 = {'ID':['100','101','102','103','104']
        ,'math':[34,77,45,81,98]
        ,'English':[47,64,16,53,37]
        ,'sex':['F','M','F','F','M']
        ,'index_num':[0,1,2,3,4]}
df2 = DataFrame(data2)

## データを表示します

In [ ]:
df1

In [ ]:
df2

## 内部結合の例  
## ID をキーに　inner outer  left right  とindex　で結合

In [5]:
# Inner join
inner_join = pd.merge(df1, df2, how="inner" ,on="ID")

# Outer join
outer_join=pd.merge(df1, df2, how="outer", on="ID")

# Left join
left_join  = pd.merge(df1, df2, how="left", on="ID")

# Right join
right_join = pd.merge(df1,df2,how="right", on="ID")

# indexによる結合
index_join=pd.merge(df1, df2, left_index=True, right_on="index_num")

In [ ]:
inner_join

In [ ]:
outer_join

In [ ]:
left_join

In [ ]:
right_join

In [ ]:
index_join

## concatinate用の別データdf3, df4 の作成

In [11]:
# データ1の準備
data3 = {'ID':['100','101','102','105','106']
        ,'city':['Tokyo','Chiba','Kyoto','Gunma','Tokyo']
        ,'birth_year':[1991,1992,1985,1996,1981]
        ,'name':['Yamada','Sato','Suzuki','Kitamura','Aoki']}
df3 = DataFrame(data3)

# データ3の準備
data4 = {'ID':['110','111','112']
        ,'city':['Akita','Okinawa','Fukuoka']
        ,'birth_year':[1992,1987,1990]
        ,'name':['Ishida','Takada','Shimada']}
df4 = DataFrame(data4)

In [ ]:
df3

In [ ]:
df4

In [14]:
# concatinate　　行方向に連結します
concat=pd.concat([df3, df4])

In [ ]:
concat

merge でも結合はできますがインデクスが付け替えられます

In [ ]:
pd.merge(df3, df4, how="outer")

## カラム削除の例
特定のカラムの削除は　dropを使います

In [ ]:
df3.drop("name",axis=1)

## カラムの結合の例
２つのカラムを結合して１つにカラムにできます

In [18]:
  df3["cityname"]=df3['city'].str.cat([df3['name']], sep='-')

In [ ]:
df3